$font-size: 16px
$line-height: 22px

body, p, li, blockquote p
  font-size: $font-size
  line-height: 1.5

p, ul, ol, blockquote, table, dl, blockquote p
  margin-bottom: 0.5em

.post
  margin-bottom: 1.5em

.post-title
  margin-top: 0
  margin-bottom: 0

.byline, small
  font-size: 13px

.nav .nav-header
  font-size: 14px
  line-height: 1.5

h3.post-date
  color: #999
  font-weight: normal
  & + h2, & + h1
    margin-top: 0
